@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --hamburger-menu-icon-height: 56px;
    --hamburger-menu-icon-width: 32px;
    --navbar-color: white;
    --contasting-color: #0E4847;
    --navbar-hover-background-color: #2c8693;
    --navbar-hover-text-color: #2c8693;
    --navbar-text-color: #373737;
    --nav-bg-color: #2c8693;
    --hover-text-color:white;
    --button-bg-color: #2c8693;
    --hover-bg-color: #0E4847;
    /* Color scheme */
    --color-hard: #0E4847;
    --secondary-light: #2C8693;
    --third-light: #35BFB2;
    --fourth-light: #DFD5BD;
    --fifth-contast: #E0744E;
}

.Button {
  background-color: var(--button-bg-color);
  color: var(--hover-text-color);
  padding: 0.75rem 1.5rem; /* Equivalent to px-6 py-3 */
  border-radius: 0.375rem; /* Equivalent to rounded-md */
  font-size: 1.125rem; /* Equivalent to text-lg */
  text-align: center;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--hover-bg-color);
  }
}

.relative {
  position: relative;
}